//-footer ou signature
mj-section(background-color="#ffffff" padding="20px")
    mj-column
        mj-image(padding="0" border="none" width="220px" src="https://i.ibb.co/Jsh5VZ7/let-Emailling-08.jpg" alt="logo supveto") 
        mj-text(align="center" padding-top="5px" padding-bottom="0" mj-class="-1T") #[a(style="color:#333333;text-decoration:none;" href="https://www.google.com/maps/place/TOURCOING+17+RUE+DES+URSULINES") 17 rue des Ursulines - 59200 tourcoing]
        mj-text(align="center" padding-top="0" padding-bottom="0" mj-class="-1T") #[a(style="color:#333333;text-decoration:none;" href="mailto:contact@supveto.com") contact@supveto.com]
        mj-text(align="center" padding-top="0" padding-bottom="0" mj-class="-1T") #[a(style="color:#333333;text-decoration:none;" href="tel:0320700606") 03.20.70.06.06]
        mj-social(icon-size="30px" mode="horizontal")
            mj-social-element(src="https://i.ibb.co/8dMHpfX/Facebook122024.png" href="https://www.facebook.com/supvetonational/" alt="logo facebook")
            mj-social-element(src="https://i.ibb.co/VLhFD7w/Instagram122024.png" href="https://www.instagram.com/supveto.france/" alt='logo instagram')
