//- Header
mj-section(background-color="#ffffff" padding="0 20px")
    mj-column
        mj-text(align="center" padding="0" font-size="26px" line-height="30px" font-weight="600" mj-class="+1T cR" text-transform="uppercase") Jeu Concours
        mj-text(align="center" vertical-align="bottom" padding='0' mj-class="+2T cR" letter-spacing="-1px") Photo #[span(style="font-size:70px") de] Noël
        mj-social(padding="0" icon-size="30px" mode="horizontal" mj-class="+1T cR" font-size="25px" line-height="25px" font-weight="700")
            mj-social-element(padding="5px" src="https://i.ibb.co/0KWZm40/let-Emailling-04.jpg") 2024
    
    
    
    
