extends templates/_layout
block content
    mj-section(background-color="#ffffff" padding="20px")
        mj-column(width="80%")
            mj-text(padding="5px 0" mj-class="0T cT0") #[span(style="color:#c1272d;font-weight:700;") PHOTO DE NOËL]… dernière #[span(style="color:#0d0d0d;font-weight:700;") glissade hivernale] pour divertir le bon vieux barbu et lui offrir une #[span(style="color:#0d0d0d;font-weight:700;") photo réjouissante de ton animal favori !]
            mj-text(padding="5px 0" mj-class="0T cT0") Mais le temps presse désormais et il s'agit de te montrer à la hauteur de l'enjeu : de la #[span(style="color:#0d0d0d;font-weight:700;") fantaisie], de l'#[span(style="color:#0d0d0d;font-weight:700;") imagination] et, surtout, l'envie de #[span(style="color:0d0d0d;font-weight:700;") mettre en avant le compagnon de ton quotidien] dans un contexte festif.
            mj-text(padding="5px 0" mj-class="0T cT0") Alors, que tu sois présent ou non sur la photo, ne laisse pas passer cette opportunité de rappeler ton attachement à la cause animale et ton envie de #[span(style="color:#0d0d0d;font-weight:700;") fêter NOËL] à ta façon !
            mj-text(padding="5px 0 0 0" mj-class="0T cT0") #[span(style="color:#0d0d0d;font-weight:700;") {{contact.PRENOM}}], envoie donc très vite ta photo #[span(style="font-style:italic;") (1 photo par candidat)] à :
            mj-text(padding="0" mj-class="0T") #[a(href="mailto:concours.national.noel@supveto.com" style="color:#c1272d;font-weight:700") concours.national.noel@supveto.com] avec ton nom, prénom et l'école dont tu dépends #[span(style='font-style:italic;') (obligatoire)].